.timerBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.timerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.timerNumber {
    font-weight: bold;
    font-size: 30px;
}  
.timerLabel {
    font-size: 12px;
    text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    .timerBlock {
        margin-top: 10px;
        gap: 20px;
    }
}