.home {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    padding: 10px;
}
.home__trips {
    /* width: 1000px; */
}
.home__todayWeather {
    width: 400px;
}
.home__forecast {
    margin-top: 40px;
}
/* cardsPanel */
.cardsPanel {
    display: flex;
    gap: 20px;
    align-items: self-start;
    flex-wrap: wrap;
}
.cardsPanel__cards {
    width: 650px;
    overflow-x: auto; 
}
.cardsPanel__btn {
    /* width: 100px;
    height: 200px; */
}

.home__title {
    margin-bottom: 20px;
    font-size: 24px;
}
.home__title span {
    font-weight: bold;
}
.home__searchPanel {
    margin-bottom: 30px;
}
