.home {
    display: flex;
    gap: 20px;
    padding: 10px;
}
.home__todayWeather {
    width: 400px;
    height: 600px;
}
.authPanel {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
.home__forecast {
    width: 650px;
    height: 170px;
    overflow-x: auto;
    margin-top: 20px;
}
.cardsPanel {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.cardsPanel__cards {
    width: 650px;
    overflow-x: auto; 
}
.home__title {
    margin-bottom: 20px;
    font-size: 24px;
}
.home__title span {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .home {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home__trips {
        width: 60%;
    }
    .home__todayWeather {
        width: 35%;
    }
}

@media screen and (max-width: 800px) {
    .home__trips {
        width: 100%;
    }
    .home__todayWeather {
        width: 100%;
    }
    .home__forecast {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .home__todayWeather {
        height: 400px;
    }
    .authPanel {
        justify-content: center;
        padding: 20px;
    }
    .home__title {
        margin-bottom: 10px;
    }
}