.searchPanel {
    position: relative;
}

.searchPanel input {
    min-width: 230px;
    background: url('../../imgs/search-icon.webp') no-repeat;
    background-size: 20px; 
    background-position: 10px center; 
    background-color: rgb(231, 240, 243);
    border: none;
    padding: 15px 15px 15px 40px;
    border-radius: 5px;
    outline: none;
}

.searchPanel img {
    position: absolute; 
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    height: 20px; 
    width: auto; 
}
